body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    background-color: darkgray;
}

/*containers*/
.clientes-container{
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
    margin: 10pxs;
    flex: 1;
    margin-left: 280px;
    margin-top: 10px;
}

.tabla-clientes-container{
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    margin: 10pxs;
    margin-left: 280px;
    margin-top: 10px;
    display: grid;
    place-content: center;
}

/*logo*/
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.logo{
    width: 150px;
    height: 100px;
}

/*inputs*/
.clientes-container input{
    width: 50%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
}

/*buttons*/
.clientes-container button{
    background-color: black;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.clientes-container button:hover{
    background-color: darkgrey;
    color: black;
}

/*sidebar*/
.sidebar{
    background-color: #333;
    color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    margin-right: 250px;
    display: flex;
    flex-direction: column;
}
.logo{
    margin-bottom: 20px;
}
.nav-button{
    display: block;
    background-color: black;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.nav-button:hover{
    background-color: darkgray;
    color: black;
}

/*tabla*/
.table{
    margin-top: 15px;
    border: 1px solid black;
}