/*sidebar*/
.sidebar-container{
    background-color: #333;
    color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    margin-right: 250px;
    display: flex;
    flex-direction: column;
}

.logo-container {
    margin-bottom: 30px;
}

#Logo {
    margin-left: 45px;
    max-width: 125%; 
    height: 125px; 
}

.nav-button{
    display: block;
    background-color: black;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.nav-button:hover{
    background-color: darkgray;
    color: black;
}